<div class="logo mb-l">
    <div class="logo-image"></div>
    <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
    <span class="logo-motto f-monad">Herbs from Siberia</span>
</div>
<h1 class="mb-m">Share the health benefits of herbal tea.</h1>

<p class="mb-m">
    Sign up to get 100 g free when you give 100 g to a friend.<br />
    We will send you an email with all the details.
</p>

<div class="register">
  <div class="field">
    <input id="register" maxlength="50" type="text" /><label for="register"><span>Email Address</span></label><button>Share</button>
  </div>
</div>
<p class="result"></p>
<p>Follow us on <a href="https://www.facebook.com/ivansherbs/" target="_blank">Facebook</a></p>
