<h1>We help you share health and joy</h1>

<p>
  Make a friend happy and we will send you a free Ivan Chai. We will send you all the details in an email together with this share link in case you want to do this later.
</p>

<div class="register">
  <div class="field">
    <input id="register" maxlength="50" type="text" /><label for="register"><span>Email Address</span></label><button>Share</button>
  </div>
</div>
<p class="result"></p>
<p>
  Follow us on <a href="https://www.facebook.com/ivansherbs/" target="_blank">Facebook</a>
</p>
