<div class="logo mb-l">
    <div class="logo-image"></div>
    <span class="logo-name f-monad f-wide">Ivan's Herbs</span>
    <span class="logo-motto f-monad">Herbs from Siberia</span>
</div>

<h1>I am sorry! Did I get it right?<br />Please check the URL you provided</h1>

<p>{{error.status}}</p>
